<h2 style="margin-bottom:15px;margin-top:15px;">ÜRÜN YÖNETİMİ</h2>

<a href="/admin/UrunYonetim/Insert" class="btn btn-primary" style="margin-bottom:15px;">Yeni Ürün Ekle</a>

<table class="table table-bordered" style="margin-bottom:15px;margin-top:15px;">

    <thead>
        <tr>
            <td>id</td>
            <td>Resim</td>
            <td>Ürün</td>
            <td>Fiyat</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td><img src="/images/@item.ImagesHome" width="100" /></td>
                <td>@item.ProductName</td>
                <td>@Convert.ToDecimal(item.Price).ToString("N")</td>
                <td>
                    <a href="/admin/UrunYonetim/Update/@item.id" class="btn btn-primary">Güncelleme</a>
                    <a href="/admin/UrunYonetim/Delete/@item.id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>